@font-face {
    font-family: 'colablig';
    src: url('../lib/fonts/colablig-webfont.eot');
    src: url('../lib/fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/colablig-webfont.woff') format('woff'),
         url('../lib/fonts/colablig-webfont.ttf') format('truetype'),
         url('../lib/fonts/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'colabthi';
    src: url('../lib/fonts/colabthi-webfont.eot');
    src: url('../lib/fonts/colabthi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/colabthi-webfont.woff') format('woff'),
         url('../lib/fonts/colabthi-webfont.ttf') format('truetype'),
         url('../lib/fonts/colabthi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { font-size:100%; } /* Base settings for all elements are mobile first(iPhone 3/4) */

.nav__wrap {
    padding: 20em 0 0; 
}

.ce__bg { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    text-indent: -9999px;
    background: url(../lib/img/ce__bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ce__bgleft { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url(../lib/img/ce__bgleft.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:none;
}
.ce__bgright { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url(../lib/img/ce__bgright.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:none;
}

 h1 {
    font-family: colablig, arial, sans-serif;
    color: #727171;
    margin: 0 0 -5px;
     padding: 0 0 2.2px 0;
    text-align: center;
    font-size: 1.2em;
}

hr {
    margin: 0 auto;
    width: 180px;
    border-color: inherit;
}

.link__wrap {
    font-size: 1em;
    text-align: center;
    color: #a1a0a0;
    padding: 2px 0 0;
}

.cd__link {
    font-family: colabthi, arial, sans-serif;
    color:  #F18800; /* psd color: #ff9000 */  
    padding: 0 2.5px 0 0;
}

.ae__link {
           font-family: colabthi, arial, sans-serif;
           color: #5BB6E9;/* psd color: #5dc0f8 */     
        padding: 0 0 0 2.5px;
}

.link__wrap a:hover, a:focus {
opacity: 0.75;
}

/* ~~~~~~~~~ Water - Fluid CSS Response ~~~~~~~~~
GitHub: https://github.com/djfrsn/Water


Full Spectrum Device Support

Spec definition: 

			Values listed are device-width in inches

	Tiny-Palm : < 3.5in [ tiny/small smartphone ]
	Baseline CSS          : 3.5 -4in [ iPhone ]
	Palm/mid-palm      : 4in - 5in [ med/large smartphone, <= Galaxy S4,]
	lrg-Palm          : 5in - 6.7in [ Galaxy Note, small tablets ]
	Tiny-Lap          : 6.7in+ - 8in [ iPad mini, med-size tablets ]
	Lap               : 8in - 10in [ iPad, large tablets, small netbooks]
	lrg-Lap           : 10in - 12in [ lrg-tablets, reg-size netbooks]
	Desk              : 12in - 15in [ laptops w/ desk-use ]
	lrg-Desk          : 15in - 24in [ lrg desk device ]
	xlrg-Desk          : 24+in [ hd+ screen ]

*/

/* tiny-palm */
@media only screen and (max-width: 319px) and (orientation: portrait) {
     @content   
}
/* palm */
@media only screen and (min-width: 360px) and (max-width: 422px) and (orientation: portrait) {
     .nav__wrap {
        padding: 26em 0 0;
    }  
    .link__wrap {
font-size: 1.1em;
}
    h1 {
font-size: 1.4em;
}
    hr {
width: 210px;
}
}
/* mid-palm */
@media only screen and (min-width: 423px) and (max-width: 479px) and (orientation: portrait) {
     .nav__wrap {
        padding: 30em 0 0;
    }
     .link__wrap {
font-size: 1.1em;
}
    h1 {
font-size: 1.4em;
}
    hr {
width: 210px;
}
}
/* break-0-landscape */
@media only screen and (min-width: 480px) and (orientation: landscape) {
     .nav__wrap {
        padding: 14em 0 0;
    }  
        .link__wrap {
font-size: 1.1em;
}
    h1 {
font-size: 1.4em;
}
    hr {
width: 210px;
}
}
/* lrg-palm */
@media only screen and (min-width: 480px) and (max-width: 585px) and (orientation: portrait) {
          .nav__wrap {
     padding: 32em 0 0;
     } 
     .link__wrap {
font-size: 1.3em;
}
    h1 {
font-size: 1.6em;
}
    hr {
width: 255px;
}
}
/* iPhone5 */
@media only screen and (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
     .nav__wrap {
    padding: 23em 0 0;
    }  
}

/* tiny-lap */
@media only screen and (min-width: 586px) and (max-width: 767px) {
     .nav__wrap {
     padding: 38em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
    hr {
width: 310px;
border-width: 2px 0 0;
}
}
/* iPad 1-4/Mini/Air */
@media only screen and (min-width: 768px) and (max-width: 798px) {
     .nav__wrap {
     padding: 43em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
}
}
@media only screen and (min-width: 799px) and (max-width: 959px) {
     .nav__wrap {
     padding: 44em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
}
}
/* lrg-lap */
@media only screen and (min-width: 960px) and (max-width: 1152px) {
     .nav__wrap {
     padding: 44em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
}
}
/* desk */
@media only screen and (min-width: 1153px) and (max-width: 1440px) {
     .nav__wrap {
     padding: 44em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
}
}
/* break-1-landscape */
@media only screen and (min-width: 753px) and (orientation: landscape) {
     .nav__wrap {
        padding: 29em 0 0;
    }  
     .link__wrap {
font-size: 1.5em;
}
    h1 {
font-size: 1.8em;
}
     hr {
width: 280px;
border-width: 2px 0 0;
}
}
/* break-1-landscape special */
@media only screen and (min-width: 753px) and (max-height: 640px) and (orientation: landscape) {
     .nav__wrap {
        padding: 23.5em 0 0;
    }  
     .link__wrap {
font-size: 1.5em;
}
    h1 {
font-size: 1.8em;
}
     hr {
width: 280px;
border-width: 2px 0 0;
}
}
/* break-2-landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
     @content   
}
/* lrg-desk */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
     .nav__wrap {
     padding: 44em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
} 
}
/* xlrg-desk */
@media only screen and (min-width: 1921px) {
    .nav__wrap {
     padding: 44em 0 0;
     } 
     .link__wrap {
font-size: 1.6em;
}
    h1 {
font-size: 2em;
}
     hr {
width: 310px;
border-width: 2px 0 0;
} 
}
