
.ce__bg {
    /* load bg here */
    background: url(../img/ce__bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.large-3 {
/* This is our container for the business of show and cd/ae links*/
}

h1 {
    color: #727171;
    text-align: center;
    font-size: 24px;
}

.cd__link {
/*    This is  our link  for cd should be in #ff9000 */
}

.ae__link {
/*    #5dc0f8 */
}

.nav__wrap {
    text-align: center;
}
.selector {
    margin: 99% 0 0;
}



div.nav__wrap {
    font-size: 13px;
}
